body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea, #764ba2); /* Mor tonlarında bir geçişli renk */
    background-size: cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .container {
    background: rgb(158, 41, 41);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  input {
    margin: 10px;
    padding: 10px;
    width: 250px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  pre {
    background: #eee;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 10px;
  }
  